<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>Palakaram.online</title>
	<link rel="icon" href="/img/core-img/favicon.ico">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="stylesheet" href="/recursos/cadastro.css">
	<script src="/recursos/cadastro.js"></script>
	<!-- Core Style CSS -->
	<!--<link rel="stylesheet" href="/recursos/style.css">
	<link rel="stylesheet" href="/recursos/cadastro2.css"> -->

	<style>
	.button {
	  background-color: #4CAF50; /* Green */
	  border: none;
	  color: white;
	  padding: 16px 32px;
	  text-align: center;
	  text-decoration: none;
	  display: inline-block;
	  font-size: 16px;
	  margin: 4px 2px;
	  transition-duration: 0.4s;
	  cursor: pointer;
		border-radius: 15px;
	}

	.button1 {
	  background-color: white;
	  color: black;
	  border: 2px solid #fbb710;
		width: 250px;

	}

	.button1:hover {background-color: #fbb710;}

}

	</style>


</head>

<body class="exames">
	
<h1 align=center>Admin Pannel</h1>
	<div align="center">

<a href="/co"><button class="button button1">&#128743; &nbsp ORDERS </button></a><br>
	<a href="/adminkokul"><button class="button button1">&#128383; &nbsp MESSAGES</button></a><br>
<!-- <a href="/lee"><button class="button button1">SIGNUP DETAILS</button></a> -->
</div>
</body>

</html>
