<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Palakaram.online</title>
    <link rel="icon" href="/img/core-img/favicon.ico">
    <!-- Favicon  -->
    <!-- Core Style CSS -->
    <link rel="stylesheet" href="/recursos/style.css">
    <link rel="stylesheet" href="/recursos/cadastro2.css">
    <link rel="stylesheet" href="/css/cadastro2.css">

<style>

.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}


.lee1 {
  background-color:white;
  margin-left: 300px;
  width: 975px;
  height: 700px;
  margin-top: -780px;
}
.lee2{

width: 100%;
}
.pic{
  width:300px;
  height: 300px;
}
.i{
  margin-top:-100px;
}
</style>


</head>
<body style="width:95%">
    <div class="main-content-wrapper d-flex clearfix" >
        <div class="mobile-nav" style="background-color:black;">
            <div class="amado-navbar-brand" style="background-color:green;">
                <a href="/"><img src="/img/core-img/logo.png" alt="" width = "25%"></a>
            </div>
            <div class="amado-navbar-toggler" style="background-color:yellow;">
                <span></span><span></span><span></span>
            </div>

        </div>


        <header class="header-area clearfix">



            <nav class="amado-nav lee2" style="background-color:white;" >
              <div class="nav-close">
                  <i class="fa fa-close" aria-hidden="true"></i>
              </div>
              <div class="logo">
                  <a href="/"><img src="/img/core-img/logo.png" alt=""></a>
              </div>

              <ul>
                  <li><a href="/">&#x1F3E0; Home</a></li>
                  <li><a href="/in">&#x2615; Product</a></li>
                  <li  ><a href="/NovoCadastro1">&#x1F4E9; Contact</a></li>
                   <li><a href="/order">Order</a></li>
                   <li><a href="/login">&#x1F511; Login</a></li>
                  <li><a href="/signup">&#x1F513; Sign Up</a></li> 
              </ul>

              <div class="amado-btn-group mt-30 mb-100">
                  <a href="/in1" class="btn amado-btn mb-15">%Discount%</a>
                  <a href="/in2" class="btn amado-btn active">New this week</a>
              </div>
              <!--  <div class="social-info d-flex justify-content-between i">
                    <a href="https://www.facebook.com/nizha.thayaparan">  <i class="fa fa-pinterest" aria-hidden="true"> <h1>	&#x0066;</h1> </i></a>
                    <a href="https://www.facebook.com/nizha.thayaparan">  <i class="fa fa-pinterest" aria-hidden="true"> <h1>	&#x0066;</h1> </i></a>
                    <a href="https://www.facebook.com/nizha.thayaparan">  <i class="fa fa-pinterest" aria-hidden="true"> <h1>	&#x0066;</h1> </i></a>

                </div> -->
            </nav>





            <!-- <div class="cart-fav-search mb-100">
                <a href="cart.html" class="cart-nav"><img src="/img/core-img/cart.png" alt=""> Cart <span>(0)</span></a>
                <a href="#" class="fav-nav"><img src="/img/core-img/favorites.png" alt=""> Favourite</a>
                <a href="#" class="search-nav"><img src="/img/core-img/search.png" alt=""> Search</a>
            </div> -->




        </header>



        <div class="products-catagories-area clearfix" ><br><br><br>
            <div class="amado-pro-catagory clearfix lee1"    style="background-color:blu;">

              <div class="single-products-catagory clearfix">
                  <a href="/order">
                      <img src="/img/bg-img/honey1.jpg" alt="" class=" pic">
                      <!-- Hover Content -->
                      <div class="hover-content">
                          <div class="line"></div>
                          <p style="color:black;">Rs 1000</p>
                          <h4 style="color:black;">HONEY</h4>
                      </div>
                  </a>
              </div>

              <!-- Single Catagory -->
              <div class="single-products-catagory clearfix">
                  <a href="/order">
                      <img src="/img/bg-img/chillie1.jpg" alt="" class=" pic">
                      <!-- Hover Content -->
                      <div class="hover-content">
                          <div class="line"></div>
                          <p  style="color:black;">Rs 600</p>
                          <h4 style="color:black;">CHILLI POWDER</h4>
                      </div>
                  </a>
              </div>

              <!-- Single Catagory -->
              <div class="single-products-catagory clearfix">
                  <a href="/order">
                      <img src="/img/bg-img/prawn.jpeg" alt="" class=" pic">
                      <!-- Hover Content -->
                      <div class="hover-content">
                          <div class="line"></div>
                          <p  style="color:black;">Rs 600</p>
                          <h4 style="color:black;">DRIED PRAWNS</h4>
                      </div>
                  </a>
              </div>

              <!-- Single Catagory -->
              <div class="single-products-catagory clearfix">
                  <a href="/order">
                      <img src="img/bg-img/cumin.jpeg" alt="" class=" pic">
                      <!-- Hover Content -->
                      <div class="hover-content">
                          <div class="line"></div>
                          <p  style="color:black;">Rs 1000</p>
                          <h4 style="color:black;">CUMIN SEEDS</h4>
                      </div>
                  </a>
              </div>

              <!-- Single Catagory -->
              <div class="single-products-catagory clearfix">
                  <a href="/order">
                      <img src="img/bg-img/pakoda.jpg" alt="" class=" pic">
                      <!-- Hover Content -->
                      <div class="hover-content">
                          <div class="line"></div>
                          <p  style="color:black;">Rs 1000</p>
                          <h4 style="color:black;">PAKODA</h4>
                      </div>
                  </a>
              </div>

              <!-- Single Catagory -->
              <div class="single-products-catagory clearfix">
                  <a href="/order">
                      <img src="img/bg-img/cardamon.jpg" alt="" class=" pic">
                      <!-- Hover Content -->
                      <div class="hover-content">
                            <div class="line"></div>
                            <p style="color:black;">Rs 300</p>
                            <h4 style="color:black;">CARDAMON</h4>
                      </div>
                  </a>
              </div>

              <!-- Single Catagory -->
              <div class="single-products-catagory clearfix">
                    <a href="/order">
                        <img src="img/bg-img/Turmeric.jpg" alt="" class=" pic">
                        <!-- Hover Content -->
                        <div class="hover-content">
                              <div class="line"></div>
                              <p style="color:black;">Rs 600</p>
                              <h4 style="color:black;">TURMERIC</h4>
                        </div>
                    </a>
              </div>

              <!-- Single Catagory -->
              <div class="single-products-catagory clearfix">
                  <a href="/order">
                      <img src="img/bg-img/kura.jpg" alt="" class=" pic">
                      <!-- Hover Content -->
                      <div class="hover-content">
                            <div class="line"></div>
                            <p style="color:black;">Rs 1000</p>
                            <h4 style="color:black;">KURAKAN FLOUR</h4>
                      </div>
                    </a>
              </div>

              <!-- Single Catagory -->

              <div class="single-products-catagory clearfix">
                    <a href="/order">
                        <img src="img/bg-img/murukku.jpg" alt="" class=" pic">
                        <!-- Hover Content -->
                        <div class="hover-content">
                              <div class="line"></div>
                              <p style="color:black;">Rs 600</p>
                              <h4 style="color:black;">MURUKKU</h4>
                        </div>
                    </a>
              </div>

              <!-- Single Catagory -->

              <!-- Single Catagory -->
              <div class="single-products-catagory clearfix">
                    <a href="/order">
                        <img src="img/bg-img/Green gram balls.JPG" alt="" class=" pic">
                        <!-- Hover Content -->
                        <div class="hover-content">
                              <div class="line"></div>
                              <p style="color:black;">Rs 600</p>
                              <h4 style="color:black;">GREEN GRAM BALLS</h4>
                        </div>
                    </a>
              </div>

              <!-- Single Catagory -->

              <!-- Single Catagory -->
              <div class="single-products-catagory clearfix">
                    <a href="/order">
                        <img src="img/bg-img/mix.jpg" alt="" class=" pic">
                        <!-- Hover Content -->
                        <div class="hover-content">
                              <div class="line"></div>
                              <p style="color:black;">Rs 600</p>
                              <h4 style="color:black;">MIXTURE</h4>
                        </div>
                    </a>
              </div>

              <!-- Single Catagory -->
              <div class="single-products-catagory clearfix">
                  <a href="/order">
                      <img src="img/bg-img/white.jpeg" alt="" class=" pic">
                      <!-- Hover Content -->
                      <div class="hover-content">
                          <div class="line"></div>
                          <p style="color:black;">Rs 1000</p>
                          <h4 style="color:black;">WHITE PEPPER POWDER</h4>
                      </div>
                  </a>
              </div>

            </div>
        </div>



    </div>

<br><br><br><br><br>

<center>
    <!-- ##### Newsletter Area Start ##### -->

    <!-- ##### Newsletter Area End ##### -->

    <!-- ##### Footer Area Start ##### -->
    <footer class="footer_area clearfix" style="margin-left:50px;">
        <div class="container">
            <div class="row align-items-center">
                <!-- Single Widget Area -->
                <div class="col-12 col-lg-4">
                    <div class="single_widget_area">
                        <!-- Logo -->
                        <center>  <div class="footer-logo mr-50">
                            <a href="/"><img src="/img/core-img/logo2.png" alt=""></a>
                      </div>
                        <!-- Copywrite Text -->
                        <p class="copywrite"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with by <a href="https://palakaram.online" target="_blank">Palakaram.Online</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>

<table style="color: white; border-spacing: 20px; text-align: center;">
  <tr>
<td><a href="https://www.facebook.com/Palakaram.Online/" class="fa fa-facebook"></a>
<td><a href="https://www.instagram.com/palakaram.online/" class="fa fa-instagram"></a>
</tr>

<tr>
  <td>Click to<br>Facebook</td>
  <td>Click to<br>Instagram</td>
    </tr>
  </table>

</div>
                </div></center>
                <!-- Single Widget Area -->

    <!-- ##### Footer Area End ##### -->

    <!-- ##### jQuery (Necessary for All JavaScript Plugins) ##### -->
    <script src="/js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="/js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="/js/bootstrap.min.js"></script>
    <!-- Plugins js -->
    <script src="/js/plugins.js"></script>
    <!-- Active js -->
    <script src="/js/active.js"></script>

</body>

</html>
