<!DOCTYPE html>
<html lang="en">
<head>
<title>Palakaram.online</title>
<link rel="icon" href="/img/core-img/favicon.ico">
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Dental Health Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />

    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>

<!--///////////popup login ////////////-->
<link href="assets/css/bootstrap.css" rel="stylesheet" />
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
<script src="assets/js/jquery-1.10.2.js" type="text/javascript"></script>
<script src="assets/js/bootstrap.js" type="text/javascript"></script>
<script src="assets/js/login-register.js" type="text/javascript"></script>
<!--/////////// popup login ////////////-->

<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
<link href="assets/css/material-bootstrap-wizard.css" rel="stylesheet" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

 <style>
 .wizard-card {
   -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
   margin-left: 400px;
 }

 .form-controll{
   padding: 10px 20px;
   margin: 8px 0;
   display: inline-block;
   border: 1px solid #ccc;
   border-radius: 5px;
   box-sizing: border-box;
   -webkit-transition: all 0.3s ease-in-out;
}


/*nav bar*/

body {
  font-family: "Lato", sans-serif;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 100px;
  left: 0;
  background-color: #fbb710;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 100px;
  margin-top: -100PX;
  height: 100%;

}

.sidenav a {
  padding: 5px;
  text-decoration: none;
  color: white;
  display: block;
  transition: 0.3s;
  font-size: 15px;
  font-weight: 900;
}

.sidenav a:hover {
  color: black;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.nbutton1 {
  margin-left: 10%;
  background-color: black;
  color: black;
  border: 2px solid #fbb710;
  text-align:center;
  width : 80%;
  border-radius: 10px;
  vertical-align: middle;
  text-align:center;
  padding: 5px;
}

.nbutton1:hover {
  background-color: white;
  color: white;
}

/*NAV BAR*/

   .header{
     font-size: 33px;
     width: 100%;
     text-align: center;
   }



   .input-group {
     margin: 20px 10px;
     width: 250px;
   }


   .input, .textarea {
     width: 97%;
     padding: 5px;
     border: 1px solid rgba(0,0,0,.1);
     border-radius: 8px;
   }
   .input:focus, .textarea:focus{
     outline: 0;
     box-shadow: 0 0 3px #5FA7D3;
     border: 1px solid #5FA7D3;
   }
   .textarea {
     resize: none;
     height: 100px;
   }

   .input[type='submit'] {
     background: #fbb710;
     box-shadow: 4 0px 0 #448FBD;
     color: #black;
     font-weight: bold;
     width: 150px;
     height: 30px;
     border-radius: 15px solid #5FA7D3;
   }
   .input[type='submit']:focus {
     box-shadow: none;
     cursor: pointer;
   }

   .content {
     margin: 15px 10px;
     color: rgba(0,0,0,.5);
     letter-spacing: .5px;
     line-height: 1.4em;
   }
   .subscribed {
     display: block;
     height: 0;
     overflow: hidden;
   }
   .p {
     margin-bottom: 20px;
   }
   .strong {
     font-weight: 700;
   }


.box{
 width: 100%;
 height: 30px;
 border-radius: 15px;
}


/*cart clear cart*/
.button {
padding: 5px 15px;
background-color: #fbb710; /* Green */
border-radius:5px;
color: black;
text-align: center;
display: inline-block;
font-size: 20px;
margin: 10px;
transition-duration: 0.2s;
cursor: pointer;
}

.button1 {
background-color: #black;
color: black;
border: 0px solid #fbb710;
margin-left: 40px;;
width: 250px;
}

.button1:hover {
background-color: black;
color: white;

}
/*cart clear cart*/

body {
 background-image: url("/img/bg-img/login.png");
 height: 720px;
 background-repeat: no-repeat;
}


.wizard-card[data-color="green"] .form-group .form-control {
    background-image: linear-gradient(#fbb710, #fbb710), linear-gradient(#D2D2D2, #D2D2D2);
}

.wizard-card[data-color="green"] .picture:hover
{
 border-color: #fbb710;
}

 </style>
</head>



<body>
	<header class="header-area clearfix">

    <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <a href="#"><button class="nbutton nbutton1"><a href="/">Home</a></button>
      <a href="#"><button class="nbutton nbutton1"><a href="/in">Product</a></button>
      <a href="#"><button class="nbutton nbutton1"><a href="/NovoCadastro1">Contact</a></button>
      <a href="/login"><button class="nbutton nbutton1">Login</a></button>
      <a href="/signup"><button class="nbutton nbutton1">Signup</a></button>

    </div>
    <span class="open" style="font-size:30px;cursor:pointer;" onclick="openNav()">&#9776; <a href="/"><img src="/img/core-img/logo.png" width = "15%"></a></span>

    <script>
    function openNav() {
      document.getElementById("mySidenav").style.width = "250px";
    }

    function closeNav() {
      document.getElementById("mySidenav").style.width = "0";
    }
    </script>

	</header>

<div class="iii form1">
  <div class="container" style="margin-left:40px; margin-top:-40px; margin-bottom:40px;">
    <div class="row">
      <div class="col-sm-4 col-sm-offset-0">
        <div class="wizard-container">
          <div class="card wizard-card" data-color="green" id="wizardProfile">
            <form action="/login" method="post">
		            <!--        You can switch " data-color="purple" "  with one of the next bright colors: "green", "orange", "red", "blue"       -->

                  <ul style=" margin-left:5px; width:350px;">
                    <li><a href="#about" data-toggle="tab" style="background-color:#fbb710; font-weight: bold;">Login to your Account</a></li>
										<% if (message.length > 0) { %>
										<div class="alert alert-danger"><%= message %></div>
										<% } %>
						       </ul>


		              <div class="tab-content" style="align:center">
		                  <div class="tab-pane" id="about">
		                       <div class="row">
                             <div class="col-sm-12 ">
                               <div class="picture-container">
                                 <div class="picture">
                                   <img src="/img/core-img/login.png" class="picture-src" id="wizardPicturePreview" title=""/>
		                               <input type="file" id="wizard-picture">
		                              </div>
		                            </div>
		                         </div>

										         <div class="col-sm-12">
                                <div class="input-group">
                                  <span class="input-group-addon">
										          			<i class="material-icons">email</i>
										          		</span>
                                  <div class="form-group label-floating">
 										          	                       <!--<label class="control-label">Email <small>(required)</small></label>-->
 										          	  <input name="email" type="email" class="form-control"  placeholder="Email " >
 										          	  </div>
										          	</div>
		                          </div>

														 <div class="col-sm-12">
																<div class="input-group">
                                  <span class="input-group-addon">
																	<i class="material-icons">vpn_key</i>
																	</span>
                                  <div class="form-group label-floating">
											                       <!--<label class="control-label">Password <small>(required)</small></label>-->
  											          <input name="password" type="password" class="form-control"  placeholder="Password" >
											            </div>
																</div>
		                          </div>
													 </div>



											</div>


                  </div>

		              <div class="wizard-footer">
		                  <div class="clearfix col-sm-offset-0">
											    <center>	<span>Create an account?</span>
					                <a href="/signup">Signup</a>	</center>
											</div>
										      <div class="">
														<input type="submit" class='button button1' name='submit' value='Login' />
											    </div>
		              </div>


            </form>

          </div>
		    </div> <!-- wizard container -->
		  </div>
	   </div><!-- end row -->
	 </div> <!--  big container end-->
	</div>

</body>
	<!--   Core JS Files   -->
    <script src="assets/js/jquery-2.2.4.min.js" type="text/javascript"></script>
	<script src="assets/js/bootstrap.min.js" type="text/javascript"></script>
	<script src="assets/js/jquery.bootstrap.js" type="text/javascript"></script>

	<!--  Plugin for the Wizard -->
	<script src="assets/js/material-bootstrap-wizard.js"></script>

    <!--  More information about jquery.validate here: http://jqueryvalidation.org/	 -->
	<script src="assets/js/jquery.validate.min.js"></script>

</html>
